{% extends "BeautyMakeup/base.html" %}
{% block page-title %}Itemadd{% endblock %}
{%  load static %}
{% block css-file %}
    <link rel="stylesheet" href="{% static "css/responsive-upload.css" %}">
{% endblock %}


{% block content %}


<div id="addDetail">

	{# This page will be directed to the list page after submitting the new item #}
	<form id="addItem" action="{% url "BeautyMakeup:add-item" %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <div>
            <label>Upload item's image</label>
            <input type="file" name="item_image" id="item_image" required>
        </div>
		<div>
			<label for="add-title">Title*</label>
			<input type="text" id="add-title" name="add-title" required/>
		</div>

		<div>
			<label for="add-price">Price*</label>
			<input type="number" id="add-price" name="add-price" min="0" required/>
		</div>

		<div>
			<label for="add-condition">Stocks*</label>
			<input type="text" id="add-condition" name="add-condition" required/>
		</div>

		<div>
			<label for="description">Description*</label>
            <textarea id="description" name="description" required></textarea>
		</div>

		<div>
            <label for="add-availability">Shipping Availability*</label>
	    	<input type="checkbox" id="checkDeliver" value="Deliver" name="add-availability">
	    	<label for="checkDeliver">Deliver</label>
	    	<input type="checkbox" id="checkPickup" value="Pickup" name="add-availability">
	    	<label for="checkPickup">Pickup</label>
		</div>


		<div id="operation">
			<input type="submit" name="submit" />
		</div>

	</form>
</div>

{% endblock %}