{% extends "BeautyMakeup/base.html" %}
{%  load static %}
{% block page-title %}SearchResults{% endblock %}

{% block css-file %}
    <link rel="stylesheet" href="{% static "css/search-result.css" %}">
{% endblock %}

{% block content %}

    {% if items|length == 0 %}
            <h1>Sorry, there are no matched items.</h1>
        {% else %}
        <h4>{{ items|length }} Result(s) found</h4><br>
            {% for item in items %}
                {# iterate items and present in this page #}
                <div id="resultItems">
                    <a href="{% url "BeautyMakeup:item-detail" item.id %}" class="itemBox" data-created-date="{{ item.date_posted }}">
    	                <img src="/static{{ item.item_img.url}}" alt="{{ item.title }}" />
                        <p class="itemName">{{ item.title}}</p>
    	                <p class="price" data-item-price="{{ item.price }}">${{ item.price }}</p>
    	    	        <p class="availability">{{ item.availability}}</p>
    	            </a>
                </div>

            {% endfor %}
        {% endif %}

{% endblock %}